.homepage-link {
  position: fixed;
  top: 20px;
  right: 20px;
  text-align: right;
}

.homepage-link .homepage-btn {
  padding: 5px 10px 10px 10px;
}

.homepage-link a {
  text-decoration: none;
  color: white;
}
