
.homepage-link {
  position: fixed;
  top: 0;
  right: 0;
  top: 1rem;
  right: 1rem;
  z-index: 1;

  a {
    color: white;
    text-decoration: none;
  }

  .button {
    padding: 10px;
    padding-top: 5px;
  }
}
