.question-page {
  font-size: 2rem;
  font-family: 'Dosis', sans-serif;
  color: white;
  // background: linear-gradient(lightblue, coral);

  .question-container {
    text-align: left;
    background-color: rgba(195, 195, 195, 0.5);
    padding: 2rem;
    border-radius: 2rem;
  }

  .question {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .select-btn {
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    color: transparent;
    width: 2rem;
    height: 2rem;
    top: -0.3rem;
    // content: '';
    position: relative;
    background-color: white;
    display: inline-block;
    visibility: visible;
    margin: 2px;
    border: none;
    border-radius: 50px;

    &:active {
      border: 6px solid white;
      background-color: lightcoral;
    }
  }

  .answer-choice {
    .feedback {
      border: none;
      margin: 0 1rem;
      outline: none;

      &:hover {
        cursor: url('./pomeranian.png'),
          auto;
      }
    }
  }
}
