:root {
  font-size: 25px;
}

#root {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100%;
  height: 100%;
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-page {
  /* padding-bottom: 100px; */
  background: linear-gradient(45deg, #878CA6, #6298FE);
  background-color: blue;
  /* background */
  display: flex;
  flex-direction: column;
}

.title-page > div {
  text-align: center;
}

input[type='button'],
button {
  outline: none;
  color: transparent;
  width: 50px;
  height: 50px;
  top: 5px;
  left: -1px;
  content: '';
  position: relative;
  background-color: white;
  display: inline-block;
  visibility: visible;
  margin: 2px;
  border: none;
  border-radius: 50px;
}

input[type='button']:active,
button:active {
  outline: none;
  color: transparent;
  width: 50px;
  height: 50px;
  /* top: 5px; */
  /* left: -1px; */
  position: relative;
  background-color: lightcoral;
  display: inline-block;
  visibility: visible;
  margin: 2px;
  border: none;
  border-radius: 50px;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle {
  display: flex;
  flex-direction: row;
}

.whitespace {
  flex-grow: 1;
  min-width: 100px;
  min-height: 100px;
}

.center {
  display: flex;
  flex-direction: column;
  height: stretch;
}

.question-answers {
  font-size: 50px;
  font-family: 'Dosis', sans-serif;
  position: relative;
  color: white;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 20px;
  text-align: left;
  border-radius: 20px;
}

.title-header {
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: 210px;
  text-shadow: 12px -5px 0px #ffff80;
  background: linear-gradient(#ffff80, #66ffcc, #0088ee);
  background-clip: text;
    -webkit-background-clip: text;
  text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  z-index: 100;
    -webkit-z-index: 100;


  transition: all 0.2s ease-in-out;
  word-wrap: no-wrap;
  cursor: pointer;
}

.title-header:hover {
  transform: scale(1.1);
}

.title-header .header-the {
  font-size: 120px;
  position: absolute;
  top: 0px;
  left: 50px;
  width: 400px;
  background: #ffaa72;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.title-subtext {
  font-size: 80px;
  /* position: fixed; */
  /* top: 55vh; */
  /* left: 32vw; */
  color: #ffaa72;
  font-family: 'Pacifico';
  z-index: 200;
  margin-bottom: 50px;
  /* text-align: right; */
}

.text {
  text-align: left;
  font-size: 24px;
}

.corner-text {
  font-family: 'Pacifico';
  color: white;
  font-size: 40px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.flying-stars {
  color: white;
  font-size: 100px;
  font-family: 'Pacifico';
  position: relative;
  animation: moveAcross 50s linear infinite;
  z-index: 0;
}

.button {
  border: 5px solid white;
  color: white;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 15px;
  /* width: 150px; */
  box-shadow: 0px 5px #ffffff;
  padding: 3px 5px 5px 5px;
  width: fit-content;
}

.button:hover {
  position: relative;
  top: 1px;
  box-shadow: 0px 4px #ffffff;
  cursor: pointer;
}

.button:active {
  position: relative;
  top: 3px;
  box-shadow: 0px 2px #ffffff;
  cursor: pointer;
}

.cool-mode {
  width: 150px;
}

.homepage-link {
  position: fixed;
  top: 20px;
  right: 20px;
  text-align: right;
}

.homepage-link .button {
  padding: 5px 10px 10px 10px;
}

.homepage-link a {
  text-decoration: none;
  color: white;
}

.button.try-again {
  width: fit-content;
  font-size: 40px;
  padding: 0 15px 15px 15px;
  margin-top: 40px;
}

.results {
  float: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}

.results .results-subtext-1 {
  font-size: 18px;
  /* margin: 10px; */
  font-family: monospace;
  font-weight: normal;
}

.results .results-subtext-2 {
  font-size: 16px;
  margin-top: 25px;
}

.result-yellow h1,
.result-yellow p {
  margin: 30px 0;
}

.underline {
  text-decoration: underline;
}

@media only screen and (max-device-width: 768px) {
  h1 {
    font-size: 1em;
  }
  .homepage-link {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
  }

  .start-screen {
    /* transform: scale(0.75); */
  }

  .title-header .header-the {
    left: -75px;
    top: -20px;
    font-size: 60px;
  }

  .title-header {
    font-size: 120px;
    text-shadow: 6px -3px 0px #ffff80;
  }

  .title-subtext {
    font-size: 40px;
  }

  .app {
    padding: 30px;
  }

  .results {
    padding: 0;
  }

  .results p {
    font-size: 30px;
  }

  .results .results-subtext-1 {
    margin: 30px 0;
  }
  .results .results-subtext-2 {
    font-size: 14px;
  }

  .question-answers {
    font-size: 40px;
  }

  .results .button.try-again {
    font-size: 36px !important;
    padding: 3px 11px 11px 11px;
  }
}

@keyframes moveAcross {
  0% {
  }
  100% {
    -webkit-transform: translateX(3000px) translateY(3000px) rotate(3600deg);
    transform: translateX(3500px) translateY(3500px) rotate(3600deg);
  }
}
