$dreamscicle: #ffaa72;

:root {
  font-size: 25px;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

#root {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100%;
  height: 100%;
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-page {
  /* padding-bottom: 100px; */
  background: linear-gradient(45deg, #878ca6, #6298fe);
  background-color: blue;
  /* background */
  display: flex;
  flex-direction: column;
}

.title-page > div {
  text-align: center;
}


.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle {
  display: flex;
  flex-direction: row;
}

.whitespace {
  flex-grow: 1;
  min-width: 100px;
  min-height: 100px;
}

.center {
  display: flex;
  flex-direction: column;
  height: stretch;
}

.question-answers {
  font-size: 50px;
  font-family: 'Dosis', sans-serif;
  position: relative;
  color: white;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 20px;
  text-align: left;
  border-radius: 20px;
}

.title-page {
  .title-header {
    position: relative;
    padding: 4vw 0;
    // font
    font-family: 'Pacifico', cursive;
    font-size: 15vw;
    text-shadow: 0.5vw -0.5vw 0 #ffff80;
    background: linear-gradient(#ffff80, #66ffcc, #0088ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    .the {
      display: block;
      position: absolute;
      background: $dreamscicle;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: none;
      transform: translate(-50%, -50%) scale(0.5);
    }
  }

  .title-subtext {
    font-size: 5vw;
    color: $dreamscicle;
    font-family: 'Pacifico';
    z-index: 200;
    margin-bottom: 50px;
  }
}

.text {
  text-align: left;
  font-size: 24px;
}

.corner-text {
  font-family: 'Pacifico';
  color: white;
  font-size: 40px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.flying-stars {
  color: white;
  font-size: 100px;
  font-family: 'Pacifico';
  position: relative;
  animation: moveAcross 50s linear infinite;
  z-index: 0;
}

.button {
  border: 5px solid white;
  color: white;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 15px;
  /* width: 150px; */
  box-shadow: 0px 5px #ffffff;
  padding: 3px 5px 5px 5px;
  width: fit-content;
}

.button:hover {
  position: relative;
  top: 1px;
  box-shadow: 0px 4px #ffffff;
  cursor: pointer;
}

.button:active {
  position: relative;
  top: 3px;
  box-shadow: 0px 2px #ffffff;
  cursor: pointer;
}

.cool-mode {
  width: 150px;
}

.homepage-link {
  $width: 4rem;
  position: fixed;
  width: $width;
  top: 0;
  right: $width;
  margin-top: 1rem;
  margin-right: 1rem;

  a {
    color: white;
    text-decoration: none;
  }

  .button {
    padding: 10px;
    padding-top: 5px;
  }
}

.homepage-link .button {
  padding: 5px 10px 10px 10px;
}

.homepage-link a {
  text-decoration: none;
  color: white;
}

.button.try-again {
  width: fit-content;
  font-size: 40px;
  padding: 0 15px 15px 15px;
  margin-top: 40px;
}

.results {
  float: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}

.results .results-subtext-1 {
  font-size: 18px;
  /* margin: 10px; */
  font-family: monospace;
  font-weight: normal;
}

.results .results-subtext-2 {
  font-size: 16px;
  margin-top: 25px;
}

.result-yellow h1,
.result-yellow p {
  margin: 30px 0;
}

.underline {
  text-decoration: underline;
}

@media only screen and (max-device-width: 768px) {
  h1 {
    font-size: 1em;
  }
  .homepage-link {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
  }

  .start-screen {
    /* transform: scale(0.75); */
  }

  .app {
    padding: 30px;
  }

  .results {
    padding: 0;
  }

  .results p {
    font-size: 30px;
  }

  .results .results-subtext-1 {
    margin: 30px 0;
  }
  .results .results-subtext-2 {
    font-size: 14px;
  }

  .question-answers {
    font-size: 40px;
  }

  .results .button.try-again {
    font-size: 36px !important;
    padding: 3px 11px 11px 11px;
  }
}

@keyframes moveAcross {
  0% {
  }
  100% {
    -webkit-transform: translateX(3000px) translateY(3000px) rotate(3600deg);
    transform: translateX(3500px) translateY(3500px) rotate(3600deg);
  }
}
